/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff; <!--blue-->
	--secondary: #6c757d; <!--grey-->
	--success: #28a745; <!--green-->
	--info: #17a2b8; <!--cyan-->
	--warning: #ffc107; <!--yellow-->
	--danger: #dc3545; <!--red-->
	--light: #f8f9fa; <!--light-white-->
	--dark: #343a40; <!--grey-dark-->
	--heading-text-one: #464f56;
	--body-text-two: #3d3f44; <!--shade of black-->
	--body-text-three: #8c9398; <!--light-grey-used-in-footer-text-->
	--footer-body: #727377;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
		font-size: 16px;
}
body {
	font-family: var(--font-family-sans-serif);
	line-height: 1.5;
	color: var(--body-text-two);
}


/********** Base CSS *************/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	/* color: #fff; */
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}
/** Heading Elements **/
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}
/** clearfix **/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* Header Styles */



/* Arrival Section by KVSN */
.common-wrapper {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
.arrival-heading, .popular-heading {
	color: #292a2b;
	font-weight: 600;
	font-family: "Source Sans Pro", sans-serif;
	letter-spacing: 2px;
	margin: 20px;
}
.arrival {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 30px;
	justify-content: center;
	margin: 30px 0;
}
.item {
	padding: 15px;
	text-align: center;
	border: 1px solid #d3d4d8;
}
.item .arrival-item-name {
	padding-top: 5px;
}
.arrival-item-name {
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 10px;
}
.arrival-price {
	font-size: 1em;
  font-weight: 800;
  color: #ff4c4c;
  letter-spacing: 2px;
}
.ruler-arrival {
	margin: 15px 10px;
	border: 1px dotted #bcbcc0;
}
.arrival-button {
	padding: 5px 14px;
	background: #414b52;
	color: #fff;
}
.arrival ul {
	display: flex;
	justify-content: center;
}
.stars a span {
	font-size: 9px;
	padding: 5px;
	color: #6c757d;
}

/* Testimonials section */
.testimonials {
	background: #f2f2f2;
}
.testimonials h3 {
	color: #1e272e;
	font-size: 14px;
	font-family: "Source sans pro";
	font-weight: 600;
	letter-spacing: 2px;
}
.testimonials ul {
	display: flex;
	justify-content: center;
}
.testimonials .stars span {
	color: red;
}
.quote {
	display: flex;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	padding: 30px;

}
.quote p {
	color: #8c9398;
	letter-spacing: 1px;
	line-height: 26px;
}
.fa-quote-left, .fa-quote-right {
	color: #505c65;
	font-size: 20px;
}
/* Popular Products Section */
.popular-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-template-rows: repeat(2, 308px);
	grid-gap: 30px;
	justify-content: center;
	margin: 30px 0;
}
.pop-item-1 {
	grid-row: span 2;
}
.pop-item-1 img, .pop-item-2 img {
	height: 100%;
}
.pop-item-2 {
	display: grid;
	grid-template-rows: repeat(2, 308px);
	grid-row-gap: 30px;
}
.pop-item-1 a, .pop-item-2 a {
	color: black;
}
.now-parent {
	position: relative;
}
.shop-button {
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-weight: 600;
	color: black;
}
/* Brand Icons Section */
.brand-icons-container {
	background: #1e272e;
	padding: 20px;
}
.brand-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.brand-icons i {
	font-size: 36px;
	color: rgb(154, 153, 153);
}

/*========== Responsive Design for Arrival
 and Popular Products section ===========*/

@media all  and (max-width: 768px) {
	.quote {
		width: 100%;
	}
	
}
@media all  and (max-width: 630px) {
	.popular-container {
		grid-template-rows: repeat(2, 174px);
	}
}