/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff; <!--blue-->
	--secondary: #6c757d; <!--grey-->
	--success: #28a745; <!--green-->
	--info: #17a2b8; <!--cyan-->
	--warning: #ffc107; <!--yellow-->
	--danger: #dc3545; <!--red-->
	--light: #f8f9fa; <!--light-white-->
	--dark: #343a40; <!--grey-dark-->
	--heading-text-one: #464f56;
	--body-text-two: #3d3f44; <!--shade of black-->
	--body-text-three: #8c9398; <!--light-grey-used-in-footer-text-->
	--footer-body: #727377;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
		font-size: 16px;
}
body {
	font-family: var(--font-family-sans-serif);
	line-height: 1.5;
	color: var(--body-text-two);
}


/********** Base CSS *************/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	/* color: #fff; */
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}
/** Heading Elements **/
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}
/** clearfix **/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/*******************/
/* Header Styles */
.banner {
	background: url("./../media/banner.jpg") center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}
.header {
	padding: 3rem;
}
.nav-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
	font-size: inherit;
	text-rendering: auto;
}
.nav-head a {
	color: white;
}
.nav-head h1 {
	font-family: 'Source Sans Pro', sans-serif;
}
.nav-head li {
  display: inline-block;
	margin: 0px 20px;
}
.nav-head .active {
	color: #ff4c4c;
}
.nav-head a:hover {
	color: #FF4C4C;
  border-radius: 5px;
	cursor: pointer;
	transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear, ease-in;	
}
/*Dropdown*/
.drop-link {
	position: relative;
}
.drop-box {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	padding-top: 20px;
}
.drop-menu {
	background:#ffffff;
	border-radius: 6px;
	padding: 20px 20px;
	text-align: left;
	width: 200px;
	display: none;
}
.drop-menu li {
	display: block;
	margin: 0;
}
.drop-menu li a {
	display: block;
	background: none;
	padding: 0;
	margin: 10px 0px;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
}
.drop-link:hover .drop-menu {
	display: block;
}
.drop-menu li a:hover {
	background: none;
	color: #FF4C4C;
	background: #F8F9FA;
}
/* Banner-info */
.banner-info {
	padding: 4em 0 0em 3em;
	width: 38%;
}
.banner-buttons {
	padding-bottom: 12rem;
}

.banner-info p {
	color: #fff;
	font-size: 0.8em;
	letter-spacing: 1.0;
	font-weight: 400;
	margin: 0;
	text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}
.banner-info h3 {
	font-size: 3.5em;
	letter-spacing: 1.0;
	text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
	margin-bottom:  1.5rem;
}
.banner-info .btn {
	padding: 11px 31px;
	border-radius: 0px;
	font-weight: 600;
	box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.5);
	color:#ff4c4c;
	background: #ffffff;
}
.banner-info .read-btn {
	background: #10A6FB;
	color: #f7f7f7;
}
/******Feature's Section */
.features-section {
	background: #FFFFFF;
	grid-template-columns: repeat(4, minmax(350, 1fr));
	display: inline-grid;
	grid-gap: 1.9rem;
	padding: 2rem;
	grid-template-areas: "one two three four"
}
.icon-content {
	display: grid;
	grid-template-columns: auto 1fr;
	font-size: 1.35rem;
	line-height: 1.5;
	letter-spacing: 0.8px;
	margin-top: 30px;
	background:#F8F9FA; 
	padding: 3rem 2rem;
	margin-bottom: 2.5rem;
	box-shadow:7px 7px 10px 0 rgba(76, 110, 245, .1);
}
.icons {
	margin-right: 20px;
	font-size: 1.2rem;
	color: #FF4C4C;
}
.icon-content-bullborn {
	background: 	#FF4C4C;
	color: white;
 }
 .fa-bullhorn {
	color: white;
} 
.icon-h3 {
	font-size: 0.7em;
	color: #1e272e;
	font-weight: 600;
}
.icon-content p {
	font-size: 0.95rem;
	line-height: 1.5;
	letter-spacing: 1px;

}
/* about section */
.about-banner {
	height: 28rem;
}
ol.breadcrumb {
	margin: 0;
	padding: 1rem 2rem;
}
.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	color: #888;
}
.breadcrumb-item a {
	color: #FF4C4C;
	margin-right: 0.3rem;
}
li .breadcrumb-item {
	font-size: 1.2em;
	letter-spacing: 0.1rem;
}
.breadcrumb .active {
	margin-left: 0.3rem;
}
.about-container {
	width: 100%;
	background: #F7F7F7;
}
h3 .sub-tittle {
	font-size: 0.7rem;
	color: #919aa0;
	letter-spacing: 0.15rem;
	display: block;
	padding-top: 5rem;
}

h3 .tittle {
	font-size: 4rem;
	letter-spacing: 0.15rem;
	color: #292a2b;
}
.about-para {
	padding: 4rem  8rem ;
	letter-spacing: 1px;
}
.about-text {
	display: grid;
	grid-column-start: 1;
	margin-top: 3.5rem;
}
.about-text h3 {
	margin-bottom: 1.2rem;
}
.features {
	padding: 3rem;
}
.features h3 {
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
/**************************
********** Promotion Section************/
.promotion-section {
	background: #F7F7F7;
	padding: 4rem 5rem;
}
.promotion-container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-gap: 5rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.promotion-img {
	background: rgb(184, 180, 180);
	padding: 5px;
	border-radius: 6px;
	grid-area: "one"	
}
.pomotion-content {
	grid-area: "two"
}
ul .check-mark {
 color: #FF0000;
 margin-right: 0.8rem;
}
.h3-promotion {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.2rem;
}
.pro-sub-tittle {
	font-size: 0.7rem;
	color: #919aa0;
	letter-spacing: 0.15rem;
	display: flex;
}
.promotion-content p , li{
	font-size: 0.9em;
	color: #8c9398;
	line-height: 2em;
	letter-spacing: 1px;
}
.promotion-content p, ul {
	margin-top: 2.5rem;
}
.h3-promotion{
	font-size: 2.5rem;
}
/* services content */
.services {
	background: #FFFFFF;
	
}
.service-container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto; 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.service-container .icon-content {
	background: #FFFFFF;
	box-shadow: none;
}
.service-container i {
	color: #007BFF;
	font-size: 1.5rem;
}
.service-container .icon-h3 {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}
.service-container p {
	margin: 1.7rem 0;
	letter-spacing: 1px;
	color: #B0B0B0;
}