/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff; <!--blue-->
	--secondary: #6c757d; <!--grey-->
	--success: #28a745; <!--green-->
	--info: #17a2b8; <!--cyan-->
	--warning: #ffc107; <!--yellow-->
	--danger: #dc3545; <!--red-->
	--light: #f8f9fa; <!--light-white-->
	--dark: #343a40; <!--grey-dark-->
	--heading-text-one: #464f56;
	--body-text-two: #3d3f44; <!--shade of black-->
	--body-text-three: #8c9398; <!--light-grey-used-in-footer-text-->
	--footer-body: #727377;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
		font-size: 16px;
}
body {
	font-family: var(--font-family-sans-serif);
	line-height: 1.5;
	color: var(--body-text-two);
}


/********** Base CSS *************/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	/* color: #fff; */
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}
/** Heading Elements **/
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}
/** clearfix **/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* Header Styles */


/* Footer Styling */
footer {
	background: #f7f7f7;
	height: 600px;
	width: 100%;
	padding: 2.5rem;

}
.remark {
	width: 33.3%;
	margin-left: 2.5rem;
}
.remark h3 {
	color: var(--body-text-two);
}
.remark p {
	color: #8c9398;
	font-size: 0.9rem;
	line-height: 1.5;
	padding: 1.25rem 0;
	letter-spacing: 1px;
	/*font-weight: 500;*/
}
.social h6 {
	color: #5e5e61;
	padding: 20px 0;
}
.social i {
	padding: 0.625rem;
	border-radius: 50%;
	font-size: 1.1rem;
	height: 2.5rem;
	width: 2.5rem;
	color: #fff;
}
.social .fb {
	background: #6178AB;
	border: 2px solid #6178AB;
} 
.social .twit {
	background: #5CB1F3;
	border: 2px solid #5CB1F3;
}
.social .drib {
	background: #ED6E9F;
	border: 2px solid #ED6E9F;
}
.social .goo {
	background: #EC5C4A;
	border: 2px solid #EC5C4A;
}

/* Newsletter and help section*/
.footer {
	display: flex;
}
.news-wrapper {
  border-left: 1px solid #ccc;
  width: 66.66%;
  padding: 0 1.25rem;
}
.news h5 {
	color: var(--body-text-two);
	margin: 1.25rem 0;
}
.news p {
	color: #8c9398;
	font-size: 0.9rem;
	line-height: 1.2;
	padding-bottom: 1.25rem;
}
.email input {
	width: 77%;
	height: 2.75rem;
	padding: 0.4rem;
	font-size: 0.9rem;
	background: #efeeee;
	font-family: var(--font-family-sans-serif);
	letter-spacing: 0.08rem;
	/*border-bottom: 1px solid;*/
}
.news button {
	background: black;
	font-size: 1rem;
	color: #ff4c4c;
	height: 2.75rem;
	width: 5rem;
	vertical-align: middle;
}

/* Links and Contact section*/
.links-container {
	display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(3, auto);
  margin: 2.5rem 0;
  font-family: 'Lato', sans-serif;
}
.links li {
	color: #727377;
	font-size: 0.8rem;
	font-family: 'Lato', sans-serif;
	padding: 0.625rem 0;
}
.links p {
	color: #727377;
	font-size: 0.9rem;
	font-family: 'Lato', sans-serif;
	padding: 10px 0;
}
.links h4 {
	color: #5e5e61;
	text-transform: uppercase;
	font-size: 0.8rem;
	padding: 0.625rem 0;
}
.links h5 {
	text-transform: uppercase;
}
.copy-container {
	display: flex;
	flex-direction: row;

}
.copyright {
	width: 100vw;
	color: #727377;
	font-size: 0.9rem;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	flex: 0 1 auto;
}
.copy-container a {
	color: #fff;
	background: #4a4b4c;
	padding: 10px 10px;
}
.arrow {
	flex: 0 1 auto;
	margin-right: 8rem;
}





